#questionPageBody{
    margin:auto;
    
}
#questionPageBody h1{
    text-align:center;
}
#options-container {
    display: grid;
    float:center;
    grid-template-columns: auto auto;
    padding-top:1rem;
}

.question-option {
    margin:0.2rem;
    font-weight: bolder;
    color: white;
    border-radius: 5px;
    height: 100px;
    background-size: cover;
}

.question-option:hover {
    cursor: pointer;
}

.question-option-image:hover {
    opacity: 0.5;
}

.question-option:nth-child(1) {
    background-color: #66bf39;
}

.question-option:nth-child(2) {
    background-color: rgb(223, 69, 69);
}

.question-option:nth-child(3) {
    background-color: #1368ce;
}

.question-option:nth-child(4) {
    background-color: #ffa602;
}

.question-option:nth-child(1):hover {
    background-color: #437a28;
}

.question-option:nth-child(2):hover {
    background-color: rgb(131, 41, 41);
}

.question-option:nth-child(3):hover {
    background-color: #0c4080;
}

.question-option:nth-child(4):hover {
    background-color: #946102;
}
  
#question-image {
    display:block;
    margin: auto;
    height: 50%;
    width: 50%;
}