#bar0 {
    fill: #66bf39;
}

#bar1 {
    fill: rgb(223, 69, 69);
}

#bar2 {
    fill: #1368ce;
}

#bar3 {
    fill: #ffa602;
}

#chart {
    border: 1px solid black;
}

.bar-text {
    /* font-size: small; */
    font: normal 3px sans-serif;
    font-weight: bolder;
    fill:white;
}

#results-container{
    display:block;
    margin:auto;
}

#my-chart {
    /* min-height:128px; */
    width: 50vw;
    max-width: 50vw;
}
