#bar0 {
    fill: #66bf39;
}

#bar1 {
    fill: rgb(223, 69, 69);
}

#bar2 {
    fill: #1368ce;
}

#bar3 {
    fill: #ffa602;
}

#chart {
    border: 1px solid black;
}

.bar-text {
    /* font-size: small; */
    font: normal 3px sans-serif;
    font-weight: bolder;
    fill:white;
}

#results-container{
    width:80%;
    display:block;
    margin:auto;
}

#results-container > h1{
    text-align:center;
}

#my-chart {
    /* min-height:128px; */
    width: 50vw;
    max-width: 50vw;
    margin:auto;
}
.quiz-nav-container{
    position: fixed;
    top: 0;
    left: 0;
    width:99.9vw;
    display:flex;
    margin: 5px auto 0;
}

.backButton, .forwardButton{
    display:inline-block;
    width:40px;
}
.backButton{
    margin-left:30%;
}
.forwardButton{
    margin-right:30%;
}
.resultLobby{
    width:20%;
}

