.rostrum-container{
    width:80vw;
}

.rostrum-container > h1{
    text-align:center;
}

.rostrum-divs-container {
    display:block;
    min-width: 100px;
    width: 100px;
    margin:25px;
    text-align:center;
}

.rostrum-place1-container {
    display:inline-block;
    height: 400px;
    border: 2px solid goldenrod;;
    background-color: gold;
}

.rostrum-place2-container {
    display:inline-block;
    height:300px;
    border: 2px solid rgb(150, 150, 150);;
    background-color: silver;
}

.rostrum-place3-container {
    display:inline-block;
    height: 200px;
    border: 2px solid #a36628;
    background-color: #cd7f32;
}

.rostrum-divs-container {
    margin:auto;
}

.rostrum-above-nick {
    margin: 0;
}

.rostrum-place-signifier {
    font-size: 5rem;
    text-align: center;
}

.rostrum-score {
    font-size: 2rem;
    text-align: center;
}