.score-increased {
    color: green;
}

.scoreboard-table {
    font-size: 2rem;
}

.nick-col {
    width: 400px;
    text-align: left;
}

.scoreboard-table{
    margin:auto;
}

.featured-score {
    padding-top: 50px;
    font-size: 1.5rem;
    text-align: center;
}