.score-increased {
    color: green;
}

.scoreboard-table {
    font-size: 2rem;
}

.nick-col {
    width: 400px;
    text-align: left;
}

#scoreboard-container {
    width:80%;
    display:block;
    margin:auto;
}

#scoreboard-container > h1{
    text-align:center;
}

#scoreboard-container > table {
    text-align:center;
}

.featured-score {
    padding-top: 50px;
    font-size: 1.5rem;
    text-align: center;
}